#board {
    background: black;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}


.circle {
    background: blue;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: absolute;
}